@keyframes expandTileItemIcon {
  from {
    transform: translate(-50%, -50%) scale(0);
  }

  to {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes hideTileItemBackground {
  from {
    transform: scale(1);
    opacity: 1;
  }

  to {
    transform: scale(0);
    opacity: 0;
  }
}

tile-item {
  text-align: center;
  line-height: 5rem;
  aspect-ratio: 1 / 1 ;
  border-radius: var(--bs-border-radius);
  cursor: pointer;
  transition: all 100ms ease-in-out;
  position: relative;
  z-index: 1;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: var(--color-06);
  }

  &:hover {
    background-color: var(--color-05);
  }

  &[disabled] {
    pointer-events: none;
  }

  &[type="gem"] {
    color: var(--color-03);
  }

  &[type="mine"] {
    color: var(--color-09);
  }

  &[selected="true"],
  &:not([type=""]) {
    cursor: default;
    background-color: var(--color-01);

    i {
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    }
  }

  &[selected="true"] {
    z-index: 2;
  }

  &[selected="false"]:not([type=""]) i {
    opacity: 0.15;
  }

  i {
    position: absolute;
    font-size: 2em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &[selected="true"]:not([animate]) {
    &::after {
      opacity: 0;
    }
  }

  &[animate] {
    &::after {
      transform-origin: center center;
      animation-name: hideTileItemBackground;
      animation-duration: 150ms;
      animation-fill-mode: forwards;
      animation-play-state: running;
    }

    i {
      transform: translate(-50%, -50%) scale(0);
      transform-origin: center center;
      animation-name: expandTileItemIcon;
      animation-duration: 150ms;
      animation-fill-mode: forwards;
      animation-play-state: running;
      animation-delay: 75ms;

    }
  }
}