layout-header {
  header {
    background-color: var(--blue-001);
    border-bottom: 1px solid var(--blue-002);
    padding: 1rem;
    text-align: right;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;

    /* .header-menu {
      display: flex;
      gap: 1.5rem;
      align-items: center;
      justify-content: space-between;
    } */

    /* .button-toggle-menu {
      cursor: pointer;
    } */

    .header-right {
      display: flex;
      align-items: center;
      gap: 1.5rem;
    }

    @media (min-width: 768px) {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }
}